:host {
    width: 423px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (width <= 540px) {
    .form-container {
        margin-inline: 20px;
    }
}