:host {
    width: 600px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (width <= 750px) {
            width: 500px;
        
    }

    @media (width <= 550px) {
            width: 400px;
        
    }

}

@media (width <= 540px) {
    .form-container {
        margin-inline: 20px;
    }
}