@import '../../../assets/styles/colorPallet';

header {
    // height: 50px;
    // position: sticky;
    // inset-block-start: 0;
    // position: absolute;
    // width: 100%;
    // background-color: $black;
    // color: $white;

    height: 50px;
    position: sticky;
    inset-block-start: 0;
    position: fixed;
    width: 100%;
    background-color: #0b0014;
    color: #d6ecf0;
    z-index: 1000;

    .mat-toolbar-row {
        width: 100%;
        height: 100%;
        justify-content: space-between;
        display: flex;
        align-items: center;
        padding-inline: 35px;
        box-sizing: border-box;
    }
} 

a.active {
    color: $blue-1
}