<!-- <nav>
    <button *ngFor="let dataType of dataTypes" class="roboto-medium flex-grow-1 data-type"
        [ngClass]="{'active': activeDataType === dataType}">
        <span>
            {{ dataType }}
        </span>
    </button>
</nav> -->

<header *ngIf="(appStatistics$ | async) as data" class="admin-center-header d-flex w-100">
    <ng-container *ngFor="let item of data | keyvalue; let i = index">
        <p>
            <span class="roboto-medium">
                {{ item.key }}:
            </span>
            <span class="roboto-regular">
                {{ item.value }}
            </span>
        </p>
    </ng-container>
</header>

<section class="container">
    <div class="d-flex flex-column">
        <section *ngIf="(forms$ | async) as forms" class="table-container m-5 d-flex flex-column">
            <div>
                <table mat-table [dataSource]="forms" class="mat-elevation-z8" [autocapitalize]="true">
            
                    <ng-container matColumnDef="fullName">
                        <th mat-header-cell *matHeaderCellDef> Full Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="birthDate">
                        <th mat-header-cell *matHeaderCellDef> Age </th>
                        <td mat-cell *matCellDef="let element"> {{ parseAge(element.birthDate) }} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="country">
                        <th mat-header-cell *matHeaderCellDef> Country </th>
                        <td mat-cell *matCellDef="let element"> {{element.country}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="hobbies">
                        <th mat-header-cell *matHeaderCellDef> Hobbies </th>
                        <td mat-cell *matCellDef="let element"> {{parseHobbies(element.hobbies)}} </td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </section>
        <h3 class="py-4 roboto-medium complex-data-header  d-flex gap-5 justify-content-center">
            General View 
        </h3>
        <div class="polar-graph graph roboto-medium" style="flex-basis: calc(50% - 30px)">
            <ngx-charts-area-chart
            [showXAxisLabel]="true"
            [xAxis]="true"
            [scheme]="colorScheme"

            [results]="(polarGraphData$ | async)" />
    </div>
    </div>

    <section class="d-flex flex-column right-graphs-container">
        <h3 class="py-4 roboto-medium  d-flex gap-5 justify-content-center">
            <span 
                (click)="onActivatePropery('userDetails', p)"
                *ngFor="let p of generalUserDetailsGraphProperties" 
                [ngClass]="{'roboto-medium': (activeGeneralUserDetailsGraphProperty$ | async) === p, 'roboto-thin': (activeGeneralUserDetailsGraphProperty$ | async) !== p}" class="capitalize cursor-pointer">
                {{ p }}
            </span>
        </h3>
        <div class="general-user-details-graph graph roboto-medium mb-5">

            <ngx-charts-bar-vertical 
            [scheme]="colorScheme"
            [xAxis]="true"
            [showGridLines]="false"
            [results]="(generalUserDetailsGraphData$ | async)"
            [noBarWhenZero]="true"
            xAxisLabel="Gender"
            yAxisLabel="Count"
            [tooltipDisabled]="true"
            [gradient]="true"
            
            >
        </ngx-charts-bar-vertical>
    </div>
    <h3 class="py-4 roboto-medium text-center car-details-graph-header d-flex gap-5 justify-content-center">
        <span 
        (click)="onActivatePropery('carDetails', p)"
        *ngFor="let p of carDetailsGraphProperties" 
        [ngClass]="{'roboto-medium': (activeCarDetailsGraphProperty$ | async) === p, 'roboto-thin': (activeCarDetailsGraphProperty$ | async) !== p}" class="capitalize cursor-pointer text-nowrap">
            {{ p }}
        </span>
    </h3>
    <div class="car-details-graph graph roboto-medium">
        <ngx-charts-pie-chart
        [scheme]="colorScheme"
        [results]="(carDetailsGraphData$ | async)"
        [gradient]="true"
        [labels]="true"
        [doughnut]="true"
        >
    </ngx-charts-pie-chart>
</div>
</section>

</section>

