@import '../../../assets/styles/colorPallet';

:host {
    height: 100%;
    display: block;
    background-color: $white-light;
}

nav {
    width: 100%;
    height: 60px;
    border-block-end: solid 1px $blue-light;
    box-shadow: 0 5px 5px #7bccdc3d;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    >button {
        text-align: center;
        display: block;
        height: 100%;
        border: 0;
        cursor: pointer;
        transition: 0.3s;


        &.active {
            background-color: $blue-light;
        }

        &:hover {
            background-color: #5cafc0;
        }
    }
}

header.admin-center-header {
    background-color: $blue-dark;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    color: $white-light;
    position: relative;
    border-bottom: 1px solid $white-light;
    z-index: 100;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        ". ."
        ". .";

    height: calc(100vh - 190px);
    background: $blue-dark;

    .table-container {
        overflow: auto;
        grid-row: 1 / 3; 
        position: relative;
    }

    .general-user-details-graph, .car-details-graph {
        color: $white-light;
        text-align: center;
        border-inline-start: 1px solid $white-light;
    }

    .car-details-graph { 
        border-block-start: 1px solid $white-light;
    }

}

::ng-deep .ngx-charts { 
    text{
        fill: $white-light !important; 
        font-family: 'Roboto', sans-serif;
    }
}