@import './assets/styles/reset';
@import './assets/styles/colorPallet';
@import './assets/styles/typography';
@import './assets/styles/mixin';
@import './assets/styles/miscs';
@import './assets/styles/helpers';


// Overrides for Angular Material
:root {
    --mdc-filled-text-field-active-indicator-color: #7bccdc !important;
    --mdc-filled-text-field-hover-active-indicator-color: #d6ecf0 !important;
    --mdc-filled-text-field-container-color: transparent !important;
    --mdc-filled-text-field-label-text-color: #7bccdc !important;
    --mdc-filled-text-field-hover-label-text-color: #d6ecf0 !important;
    --mat-form-field-hover-state-layer-opacity: 0 !important;
    --mdc-filled-text-field-focus-label-text-color: #d6ecf0 !important;
    --mdc-filled-text-field-focus-active-indicator-color: #d6ecf0 !important;
    --mdc-filled-text-field-input-text-color: #d6ecf0 !important;
    --mat-form-field-focus-state-layer-opacity: 0 !important;
    --mdc-filled-text-field-caret-color: #d6ecf0 !important;
    --mat-select-enabled-trigger-text-color: #d6ecf0 !important;
    --mat-select-focused-arrow-color: #d6ecf0 !important;
    --mat-option-selected-state-label-text-color: #0b0014 !important;
    --mat-minimal-pseudo-checkbox-selected-checkmark-color: #042d5f !important;
    --mat-select-panel-background-color: #d6ecf0 !important;
    --mdc-icon-button-icon-color: #7bccdc !important;
    --mat-radio-checked-ripple-color: #d6ecf0 !important;
    // --mdc-form-field-label-text-color: #d6ecf0 !important;
    // --mdc-radio-unselected-icon-color: #d6ecf0 !important;
}


.mat-mdc-text-field-wrapper {
    padding: 3px !important;
}

.mdc-radio__outer-circle {
    border-color: #d6ecf0 !important;
}

.mdc-radio__inner-circle {
    border-color: #7bccdc !important;
}
.mdc-label {
    color: #d6ecf0 !important;
}
.mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before {
    background-color: #d6ecf0 !important;
}


// Overrides for Color Picker
.github-picker {
    background-color: transparent !important;
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
