@import './assets/styles/reset';
@import './assets/styles/colorPallet';
@import './assets/styles/typography';
@import './assets/styles/mixin';
@import './assets/styles/miscs';
@import './assets/styles/helpers';


// Overrides for Angular Material
:root {
    --mdc-filled-text-field-active-indicator-color: #7bccdc !important;
    --mdc-filled-text-field-hover-active-indicator-color: #d6ecf0 !important;
    --mdc-filled-text-field-container-color: transparent !important;
    --mdc-filled-text-field-label-text-color: #7bccdc !important;
    --mdc-filled-text-field-hover-label-text-color: #d6ecf0 !important;
    --mat-form-field-hover-state-layer-opacity: 0 !important;
    --mdc-filled-text-field-focus-label-text-color: #d6ecf0 !important;
    --mdc-filled-text-field-focus-active-indicator-color: #d6ecf0 !important;
    --mdc-filled-text-field-input-text-color: #d6ecf0 !important;
    --mat-form-field-focus-state-layer-opacity: 0 !important;
    --mdc-filled-text-field-caret-color: #d6ecf0 !important;
    --mat-select-enabled-trigger-text-color: #d6ecf0 !important;
    --mat-select-focused-arrow-color: #d6ecf0 !important;
    --mat-option-selected-state-label-text-color: #0b0014 !important;
    --mat-minimal-pseudo-checkbox-selected-checkmark-color: #042d5f !important;
    --mat-select-panel-background-color: #d6ecf0 !important;
    --mdc-icon-button-icon-color: #7bccdc !important;
    --mat-radio-checked-ripple-color: #d6ecf0 !important;
    // --mdc-form-field-label-text-color: #d6ecf0 !important;
    // --mdc-radio-unselected-icon-color: #d6ecf0 !important;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    // border-radius: 8px;
    background-color: $white-light;
    border: 1px solid $blue-light;
    box-shadow: inset 0 0 6px $white-light;
}

*::-webkit-scrollbar-thumb {
    // border-radius: 8px;
    background-color: $blue-light;
}
/*        ScrollBar 3    */


.mat-mdc-text-field-wrapper {
    padding: 3px !important;
}

.mdc-radio__outer-circle {
    border-color: #d6ecf0 !important;
}

.mdc-radio__inner-circle {
    border-color: #7bccdc !important;
}
.mdc-label {
    color: #d6ecf0 !important;
}
.mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before {
    background-color: #d6ecf0 !important;
}





.table-container {
    height: 400px; /* Set the desired height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: $white-light !important;
    background-color: transparent !important;
}

.table-container thead th {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    background-color: $blue-dark !important; /* Optional: add background color to header */
    color: $blue-light !important;
    font-family: 'Pathway Extreme';
    font-weight: 800;
    
    z-index: 1; /* Ensure the header stays on top */
}

.table-container tr {
    background-color: transparent !important;
    color: $white-light !important;
}

.table-container table {
    background-color: transparent !important;
    color: $white-light !important;
}

